@import "tailwindcss";

.cursive {
  font-family: cursive;
}

.fantasy {
  font-family: fantasy;
}

.fangsong {
  font-family: fangsong;
}

:root {
  background: #111111;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}